<ion-content class="ion-padding">
  <div class="card-container">
    
    <ion-card class="custom-card">
      <img src="assets/images/sample.jpg" alt="Manali"/>
      <ion-card-header>
        <ion-card-title>Manali</ion-card-title>
        <ion-card-subtitle>Tour Package</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button fill="solid" color="dark">View</ion-button>
        <ion-button fill="outline" color="dark">Wish List</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card">
      <img src="assets/images/sample.jpg" alt="Xbox Controllers"/>
      <ion-card-header>
        <ion-card-title>X box Controllers</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ion-button fill="solid" color="warning">View</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card">
      <img src="assets/images/sample.jpg" alt="Munnar"/>
      <ion-card-header>
        <ion-card-title>Munnar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ion-button fill="solid" color="primary">View</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
